.bodycontent {
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  padding-bottom: 15px;

}

.pinkheaders {
  color: #FE2C55;
  style: bold;
}

.images {
  padding-top: 3%;
  padding-bottom: 3%;
}

#logo {
  max-width: 125px;
}

#navbar {
  text-decoration-color: Black;
}
#conclusion-wrapper {
  background-color: Black;
  margin: -15px;
}

#conclusion {
  padding: 50px;
  margin-left: 6%;
  margin-right: 6%;
}

#question-wrapper{
  text-align: center;
}
